*, *::before, *::after {
  box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body {
    background-image: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("../images/background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #ccffdd;
    text-align: center;
}

h1, h2 {
    margin: 1rem;
    font-family: 'Playfair Display', serif;
}

p, label{
    font-family: 'PT Serif', serif;
}

.tree_image {
    height: 20rem;
    padding: 1rem;
}

.trees {
    width: 80%;
    display: grid;
    grid-auto-rows: max-content;
    row-gap: 2rem;
    align-items: center;
    margin: auto;
}

.card, .newtreeform {
    display: flex;
    flex-direction: column;
    background-color: #ccffdd;
    border: 0.1rem solid #00b33c;
    justify-content: space-evenly;
}

.addtreebutton {
    position: relative;
    border: 0.1rem solid #00b33c;
    justify-content: center;
}

@media only screen and (min-width: 700px) {
    .trees {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5%;
    }

    .addtreebutton {
        position: fixed;
        top: 1rem;
        left: 3.5rem;
    }

    .newtreeform {
        width: 30%;
        margin: auto;
    }
}
